{% load static %}

<!doctype html>
<html lang="en">
{% include 'treningsveggen/head.html' %}
<body>
{% include 'treningsveggen/facebook.html' %}
{% include 'treningsveggen/nav.html' %}

<main role="main" class="container">
<div class="content" id="content">
{% include 'treningsveggen/errors.html' %}

<h1>VEDTEKTER</h1>
<div class="text-left">
§1 Formål <br />
Treningsveggens formål er å øke motivasjonen for trening og fysisk aktivitet. Veggen skal også stimulere til sosialt press, fedmereduksjon, bedre fysikk og en viss sjargong. 
<br /><br />
§2 Registrering av strek<br /> 
A) Aktiviteter som i dagligspråket omtales som trening, og som gjennomføres for treningens skyld kvalifiserer for strek. Treningsøkten skal ha en sammenhengende varighet på minst 45 - femogførti - minutter. Yoga omfattes normalt av denne bestemmelsen. 
<br />
Aktiviteter med treningseffekt, men som også har et betydelig turinnslag kvalifiserer for strek.<br /> 
Selve aktiviteten med treningseffekt skal ha total varighet på minst 3 - tre - timer.<br />
C) Gyldig strek forutsetter at det dusjes etter aktiviteten, dersom sanitære forhold tillater dette.<br /> 
D) Aktiviteter som ikke åpenbart omfattes av § 2A eller §2B kan kvalifiseres til strek ved votering. <br />
<br />
§3 Medlemskap<br />
Medlemmer av Treningsveggen kan anbefale opptak av nye kandidater. Opptak besluttes ved votering.<br /> 
Medlemmer av Treningsveggen plikter å gjennomføre gjennomsnittlig minimum 1- en - strek i uken per år. Hver strek skal rapporteres fortrinnsvis samme dag som treningen er utført, og senest i løpet av søndag samme uke som streken er gjennomført. Medlemmer som ikke overholder dette kravet mister sitt ordinære medlemskap, stilles i karantene, og reduseres til støttemedlem i ett år.<br />
Medlemmer av Treningsveggen har stemmerett på Treningsveggens generalforsamling. <br />
<br />
§4 Støttemedlemskap <br />
Et støttemedlem har samme plikter som øvrige medlemmer, men tillates ikke stemmerett ved generalforsamling.<br /> 
Dersom et støttemedlem ikke gjenoppretter et gjennomsnitt på en strek per uke i løpet av et kalenderår, blir støttemedlemmet gjenstand for ekskludering på generalforsamling. Dersom ekstraordinære omstendigheter tilsier at medlemmet ikke bør ekskluderes må dette besluttes ved votering på generalforsamling<br />
</div>
</div>
</main>
{% include 'treningsveggen/footer.html' %}
</body>
</html>