{% load static %}

<!doctype html>
<html lang="en">
{% include 'treningsveggen/head.html' %}
<body>
{% include 'treningsveggen/facebook.html' %}
{% include 'treningsveggen/nav.html' %}

<main role="main" class="container">
<div class="content">
{% include 'treningsveggen/errors.html' %}

{% if user.is_authenticated %}
{{ user.first_name }} har {{ number_of_workouts }} streker denne uka

<ul class="list-group text-left">
{% for workout in workout_list %}
<form action="{% url 'workout:delete' workout.pk %}" method="post">
{% csrf_token %}
	<li class="list-group-item list-group-item-light d-flex justify-content-between">
		{{workout.performed_date}}: {{ workout }} --<i>{{ workout.comment }}</i>
		<input type="submit" class="btn btn-danger btn-sm" style="padding: 0rem .2rem" value="Slett">
	</li>
</form>
{% endfor %}
</ul>
{% else %}
	<h1 style="font-size: 35px">TRENINGSVEGGEN</h1>
	<p>Det viktigste er ikke å vinne,<br />men å vinne over noen du kjenner</p>

{% endif %}


</div>
</main>

{% include 'treningsveggen/footer.html' %}
</body>
</html>